*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Cairo", sans-serif ;
	direction: rtl;
}
html{
	scroll-behavior: smooth;
	/* Variables For Storing Colors */
	--primary-clr: #3a5b9c;  
	--primary-medium-clr: #d8dce9;
	--primary-light-clr: #edf3fa;
	--bg-clr-1: #ffffff;
	--dark-heading-clr: #232d39;
	--dark-text-clr: #6c757d;
	--light-heading-clr: #efefef;
	--light-text-clr: #cecece;
}
a{
	text-decoration: none !important;
}
/*   === Global Styling Starts ===   */
a.btn{
	padding: 10px 18px;
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
a.btn:hover{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
	border: 1px solid var(--primary-clr);
}
.section-header h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--dark-heading-clr);
	margin-bottom: 20px;
}
.section-header h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	right: 0;
	top: calc(100% + 8px);
	background-color: var(--dark-text-clr);
}
.section-header h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	right: 0;
	top: calc(100% + 8px);
	background-color: var(--primary-clr);
}
.section-header p{
	color: var(--dark-text-clr);
	margin-bottom: 30px;
	max-width: 1400px;
}
/*   === Global Styling Ends ===   */
body{
	width: 100%;
	min-height: 100vh;
}
.website-container{
	width: 100%;
	min-height: 100vh;
	margin: 0px auto;
}
/*   === Home Section Styling Starts ===   */
section.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.home .main-navbar{
	width: 100%;
	height: 12vh;
	max-height: 80px;
	background-color: var(--primary-clr);
	padding: 0px 8%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	border-radius: 0px 0px 25px 25px;
	direction: ltr !important;
}
.home.active .main-navbar{
	position: fixed;
	top: 0;
	margin: 0px auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	animation: showMenu 0.6s ease-in;
}
@keyframes showMenu{
	from{
		transform: translateY(-100px);
	}
	to{
		transform: translateY(0px);
	}
}
.main-navbar .logo{
	text-decoration: none;
}
.main-navbar .logo img{
	width: 120px;
	height: auto;
}
.main-navbar .nav-list{
	list-style: none;
	direction: rtl;
}
.main-navbar .nav-list li{
	display: inline-block;
	margin: 0px 10px;
}
.main-navbar .nav-list li a{
	position: relative;
	color: var(--light-heading-clr);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
.main-navbar .nav-list li a::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	left: 0;
	top: calc(100% + 2px);
	transition: all 0.3s;
	transform: scaleX(0);
}
.main-navbar .nav-list li a:hover::after{
	transform: scaleX(1);
}
.main-navbar .get-started-btn{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
}
.main-navbar .get-started-btn:hover{
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	border: 1px solid var(--light-heading-clr);
}
.main-navbar .menu-btn{
	min-width: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	display: none;
}
.main-navbar .menu-btn span{
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	border-radius: 5px;
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before,
.main-navbar .menu-btn span::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background-color: var(--light-heading-clr);
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before{
	transform: translateY(-9px);
}
.main-navbar .menu-btn span::after{
	transform: translateY(9px);
}

ul , dl , ol {
	margin: 0 !important;
}

/*   === Services Section Styling Starts ===   */
section.services{
	width: 100%;
	padding: 25px 8% 20px;
}
.services .services-contents{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.services-contents .service-box{
	flex-basis: calc(calc(100% / 3) - 2%);
	padding: 25px 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.services-contents .service-box:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.service-box .service-icon{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--primary-clr);
	outline: 1px solid var(--primary-medium-clr);
	outline-offset: 10px;
}
.service-box .service-icon i{
	font-size: 24px;
	color: var(--light-heading-clr);
}
.service-box .service-desc{
	margin-top: 25px;
}
.service-box .service-desc h2{
	margin-bottom: 10px;
	color: var(--dark-heading-clr);
	font-size: 22px;
}
.service-box .service-desc p{
	line-height: 1.4;
	color: var(--dark-text-clr);
}
.service-box:nth-child(1) .service-icon{
	background-color: #fef0ef;
	outline-color: #fef0ef;
}
.service-box:nth-child(1) .service-icon i{
	color: #f76250;
}
.service-box:nth-child(2) .service-icon{
	background-color: #e8f9ef;
	outline-color: #e8f9ef;
}
.service-box:nth-child(2) .service-icon i{
	color: #2f9355;
}
.service-box:nth-child(3) .service-icon{
	background-color: #f1f0fe;
	outline-color: #f1f0fe;
}
.service-box:nth-child(3) .service-icon i{
	color: #5a49f3;
}
/*   === Services Section Styling Ends ===   */


/*   === Courses Categories Section Styling Starts ===   */
section.categories{
	width: 100%;
	padding: 20px 8% 20px;
}
.categories .categories-contents{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.categories-contents .category-item{
	flex-basis: calc(calc(100% / 4) - 1%);
	background-color: var(--primary-light-clr);
	padding: 25px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}
.categories-contents .category-item:hover{
	box-shadow: 0px 0px 10px rgba(32, 130, 69, 0.2);
	transform: translateY(-3px);
}
.category-item .category-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-clr);
}
.category-item .category-icon i{
	color: var(--light-heading-clr);
	font-size: 20px;
}
.category-item .category-desc{
	margin-top: 20px;
	text-align: center;
}
.category-item .category-desc h3{
	color: var(--dark-heading-clr);
	font-size: 20px;
	margin-bottom: 10px;
}
.category-item .category-desc p{
	color: var(--dark-text-clr);
	font-size: 15px;
	line-height: 1.4;
}
/*   === Courses Categories Section Styling Ends ===   */

/*   === Teacher Section Styling Starts ===   */
section.instructor{
	width: 100%;
	padding: 0px 8% 20px;
}
.instructor .instructor-container{
	width: 100%;
	padding: 70px 8%;
	background-color: var(--primary-light-clr);
	border-radius: 0px 100px 0px 100px;
}
.instructor-container h2{
	font-size: 24px;
	color: var(--dark-heading-clr);
}
.instructor-container p{
	margin: 20px 0px 35px;
	color: var(--dark-text-clr);
}
/*   === Teacher Section Styling Ends ===   */

/*   === Footer Section Styling Starts ===   */

section.footer{
	width: 100%;
	padding: 70px 8% 30px;
	background-color: var(--primary-clr);
	margin: 0px !important;
}
.footer .footer-contents{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.footer-contents .footer-col{
	flex-basis: calc(calc(100% / 4) - 20px);
}
.footer-contents .footer-col .col-title{
	min-height: 60px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 30px;
}
.footer-col .col-title h3{
	font-size: 24px;
	color: var(--light-heading-clr);
}
.footer-col .col-contents{
	display: flex;
	flex-direction: column;
}
.footer-col-1 .col-title img{
	width: 120px;
}
.footer-col-1 .col-contents p{
	color: var(--light-text-clr);
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 15px;
}
.footer-col-2 .col-contents .contact-row{
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}
.footer-col-2 .col-contents .contact-row span{
	color: var(--light-text-clr);
	font-size: 16px;
}
.footer-col-2 .col-contents .contact-row span:nth-child(1){
	color: var(--light-heading-clr);
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 2px;
}
.footer-col-3 .col-contents a{
	text-decoration: none;
	color: var(--light-text-clr);
	margin-bottom: 20px;
	align-self: flex-start;
	transition: all 0.3s;
}
.footer-col-3 .col-contents a:hover{
	letter-spacing: 2px;
}
.footer-col-4 .col-contents input{
	width: 100%;
	padding: 15px;
	background-color: var(--light-heading-clr);
	color: var(--dark-text-clr);
	border: none;
	border-radius: 5px;
}
.footer-col-4 .col-contents .newsletter-btn{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
	margin-top: 20px;
}
.footer-col-4 .col-contents .newsletter-btn:hover{
	background-color: transparent;
	color: var(--light-heading-clr);
	border: 1px solid var(--light-heading-clr);
}
.footer .copy-rights{
	padding: 30px 0px 0px;
	border-top: 1px solid var(--light-text-clr);
	text-align: center;
}
.footer .copy-rights p{
	color: var(--primary-light-clr);
}
.footer .copy-rights p b{
	color: yellow;
}
/*   === Footer Section Styling Ends ===   */



/*   === Media Query Starts ===   */
@media(max-width: 968px){
	/* Home Section */
	.main-navbar .menu-btn{
		display: flex;
		margin-left: 40px;
		z-index: 101;
	}
	.main-navbar .menu-btn.active span,
	.main-navbar .menu-btn.active span::before,
	.main-navbar .menu-btn.active span::after{
		width: 100%;
	}
	.main-navbar .menu-btn.active span::before{
		transform: rotate(45deg) translateY(0px);
	}
	.main-navbar .menu-btn.active span::after{
		transform: rotate(-45deg) translateY(0px);
	}
	.main-navbar .menu-btn.active span{
		background-color: transparent;
	}
	.main-navbar .nav-list{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		/*right: 0;*/
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--primary-clr);
		transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
		z-index: 100;
	}
	.main-navbar .nav-list.active{
		right: 0;
	}
	.main-navbar .nav-list li{
		margin: 25px 0px 0px;
	}
	.main-navbar .nav-list li:nth-child(1){
		margin-top: 180px;
	}
	.main-navbar .nav-list li a{
		font-size: 20px;
		letter-spacing: 1px;
	}
	.main-navbar .get-started-btn-container{
		margin-left: auto;
	}
	.home .banner{
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.home .banner .banner-desc,
	.home .banner .banner-img{
		flex-basis: 100%;
	}
	.home .banner .banner-img{
		align-self: center;
		margin-bottom: 50px;
	}
	/* Services Section */
	.services-contents .service-box{
		flex-basis: calc(calc(100% / 2) - 2%);
	}
	.services-contents .service-box:not(:last-child){
		margin-bottom: 20px;
	}
	/* Courses Section */
	.courses .course-contents .course-card{
		flex-basis: calc(calc(100% / 2) - 1.2%);
	}
	.courses .section-header{
		flex-direction: column;
	}
	.courses .section-header .courses-btn{
		position: relative;
		align-self: flex-start;
		margin-top: 20px;
	}
	/* Courses Categories Section */
	.categories-contents .category-item{
		flex-basis: calc(calc(100% / 2) - 1%);
		margin-bottom: 15px;
	}
	/* Footer Section */
	.footer-contents .footer-col{
	flex-basis: calc(calc(100% / 2) - 20px);
	}
}

@media(max-width: 768px){
	/* Home Section */
	.banner-img-container .states .total-courses{
		left: 5px;
		bottom: 10%;
	}
	.banner .banner-desc h2{
		font-size: 42px;
	}
	/* Testimonials Section */
	.testimonials .section-header{
		width: 100%;
		margin-bottom: 70px;
	}
}

@media(max-width: 668px){
	/* Partners Section */
	.partners h3{
		margin-right: 150px;
	}
	/* Services Section */
	.services-contents .service-box{
		flex-basis: 100%;
	}
	/* Courses Section */
	.courses .course-contents .course-card{
		flex-basis: 100%;
	}
}

@media(max-width: 568px){
	/* Courses Categories Section */
	.categories-contents .category-item{
		flex-basis: 100%;
	}
	/* Footer Section */
	.footer-contents .footer-col{
		flex-basis: 100%;
	}
}

@media(max-width: 468px){
	.banner-img .banner-img-container{
		width: 100%;
	}
	.banner .banner-desc .search-bar{
		width: 100%;
	}
	.banner-img-container .states .courses-ratings{
		top: 30px;
		right: -10px;
	}
	.banner .banner-desc h2{
		font-size: 32px;
	}
	.main-navbar .get-started-btn-container{
		display: none;
	}
	/* Partners Section */
	.partners h3{
		margin-right: 0px;
		margin-bottom: 80px;
	}
}
/*   === Media Query Ends ===   */






    /* HERO */
    .hero { position:relative; z-index:1; }
    .carousel-item img { height:520px; object-fit:cover; filter: saturate(1.05) contrast(1.03); }
    .carousel-caption {
      right: 5%; left: auto; text-align:right;
      background: linear-gradient(90deg, rgba(1,22,39,0.6), rgba(2,44,78,100));
      padding:20px; border-radius:12px; max-width:520px;
      box-shadow: 0 12px 40px rgba(1,22,39,0.6);
      transform: translateY(-6px);
      animation: captionIn .7s ease both;
	  margin-bottom: 40px;
	  color: var(--bg-clr-1);
    }
    @keyframes captionIn { from {opacity:0; transform:translateY(10px)} to {opacity:1; transform:none} }
    .carousel-caption h3{ color:#fff; font-size:26px; margin-bottom:8px; text-shadow: 0 8px 28px rgba(0,0,0,0.45)}
    .carousel-caption p{ color: rgba(235,245,255,0.9); font-size:14px; margin-bottom:10px; }

    /* spacing between sections */
    section{ padding: var(--section-gap) 0; margin-bottom:18px; }
    .about-card, .service-card, .product-card, footer{ transition: transform .18s; }

    /* responsive tweaks */
    @media (max-width: 991px){
      .nav-center{ display:none; }
      .search-left{ display:none; }
      .hamburger{ display:flex; }
      .logo-wrap{ order:2; }
      .left-controls{ order:1; }
      .carousel-item img{ height:420px; }
      .product-card{ min-width:220px; max-width:220px; }
    }
    @media (max-width: 576px){
      .carousel-item img{ height:320px; }
      .carousel-caption h3{ font-size:20px; }
      .footer-illustration{ display:none; }
      .nav-outer{ gap:8px; padding:6px 0; }
      .navbar .navbar-brand img{ height:44px; }
    }



	/* Start goal */
  .swiper {
    width: 100%;
    height: 100%;
    background: #000;
    direction: rtl;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #000;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle h1 {
    font-size: 65px !important;
  }

  .swiper-slide .text {
    font-size: 20px;
    max-width: 400px;
    line-height: 1.3;
    text-align: center;
  }


  /* End goal */






.section{width:100%;max-width:900px;}
.section__title{font-size:24px;margin:0 0 18px;text-align:center}


/* card */
.product-card{
	display: inline-block;
	background:var(--primary-light-clr);
	border-radius:25px;
	box-shadow:0 6px 20px rgba(15,23,42,0.08);
	overflow:hidden;
}


/* make horizontal on larger screens, stack on small screens */
.product-card .media{flex:0 0 320px;height:220px;display:block;overflow:hidden}
.product-card .media img{width:100%;height:100%;object-fit:contain;display:block}


.product-card .body{padding:22px 20px;flex:1;min-width:0}
.product-card .name{font-size:20px;margin:0 0 8px}
.product-card .desc{color:var(--muted);margin:0 0 14px;line-height:1.5}


.actions{display:flex;gap:12px;align-items:center}
.btn{appearance:none;border:0;padding:10px 14px;border-radius:10px;cursor:pointer;font-weight:600}
.btn--primary{background:var(--accent);color:#fff}
.btn--ghost{background:transparent;border:1px solid rgba(15,23,42,0.06);color:var(--text)}


/* center the whole section vertically on very tall screens */
@media (max-width:640px){
.product-card{flex-direction:column ;display: contents;}
.product-card .media{width:100%;height:220px}
.product-card .media img{display: none;}
.product-card .media .img-m{display: block;}
.section__title{font-size:20px}
}


/* Modal (Read more) */
.modal{position:fixed;inset:0;display:none;align-items:center;justify-content:center;background:rgba(2,6,23,0.5);padding:20px}
.modal.open{display:flex}
.modal__panel{background:#fff;border-radius:12px;max-width:720px;width:100%;padding:20px}
.modal__header{display:flex;justify-content:space-between;align-items:center;margin-bottom:8px}
.modal__title{font-weight:700}
.close{background:transparent;border:0;font-size:18px;cursor:pointer}









.whatsapp-float {
    position: fixed;
    bottom: 100px;
    left: 25px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .whatsapp-float:hover {
    background-color: #1ebe5c;
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    .whatsapp-float {
      width: 50px;
      height: 50px;
      font-size: 26px;
      bottom: 75px;
      left: 15px;
    }
  }


.facebook-float {
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .facebook-float:hover {
    background-color: cornflowerblue;
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    .facebook-float {
      width: 50px;
      height: 50px;
      font-size: 26px;
      bottom: 15px;
      left: 15px;
    }
  }
  








/* 000000000000000000000000000000 */
/* 000000000000000000000000000000 */
/* 000000000000000000000000000000 */
/* 000000000000000000000000000000 */
/* 000000000000000000000000000000 */


.slider-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3000 / 1300; /* يحافظ على النسبة الأصلية للصورة */
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.8s ease;
}

.slide {
  min-width: 100%;
  position: relative;
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* الصورة تظهر بالكامل بدون قص */
  background-color: #000; /* في حال فيه فراغات حول الصورة */
}

/* أزرار التنقل */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.7);
}

/* النقاط */
.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  height: 6px;
  width: 15px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  border-radius: 10px;
  transition: 0.3s;
}

.dot.active {
  background-color: #fff;
  width: 10px;
}

/* للموبايل */
@media (max-width: 768px) {
  .slider-container {
    aspect-ratio: 3000 / 1300;
  }

  .prev, .next {
    font-size: 0.9rem;
    width: 20px;
    height: 20px;
  }
}
